@charset "UTF-8";

body {
    background-color: #f5f5f5;
    color: #333333;
    text-align: justify;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}
p {
    margin: 20px;
    text-indent: 40px;
}

#logo > img {
    padding: 0;
    width: 100px;
    height: 100px;
}

#acessibilidade > img {
    max-width: 1905px;
    min-width: 320px;
    width: 100%;;
    box-shadow: 4px 4px 5px 2px #2e2d2dbe;
    margin: auto;
}

header {
    background-color: #19538d;
}
header > h1 {
    color: white;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
    margin: 0px;
}

#logo {
    margin: 0px
}

nav {
    background-color: #19538d;
    font-size: 1.25em;
    text-align: center;
    padding: 3px;
}
nav > a {
    color: white;
    text-decoration: none;
    margin: 30px;
}
nav > a:hover {
    font-weight: bold;
}


article {
    background-color: #5580abbd;
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 10px 3px #2e2d2dbe;
    height: auto;
    max-width: 700px;
}
article > h1 {
    color: white;
    margin: 5px;
    font-size: 1.75em;
    text-align: center;
}
article > p {
    margin: 10px;
    text-indent: 20px;
}
article > p > a {
    color: white;
    text-decoration: none;
}
article > p > a:hover {
    font-weight: bold;
}
#download {
    background-color: #df8f2dd0;
    text-align: center;
}
#download > p {
    text-indent: 0px;
}

.ler-mais {
    text-align: right;
    font-size: 1.25em;
    margin-top: 20px;
}

#download_extensao {
    font-size: 2em;
    font-weight: bold;
    background-color: #ce7c18;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 3px #2e2d2dbe;
    text-decoration: none;
}
#download_extensao > p {
    margin: auto;
}
#download_extensao:hover {
    background-color: #ff7300;
}

footer {
    background-color: #f2962686;
    font-size: 0.8em;
    text-align: center;
    padding: 3px;
    margin-top: 25px;
}
footer > p {
    padding: 0px;
    margin: 0px;
}